BOT_TOKEN=1234567890:ABCdefGHIjklMNOpqrsTUVwxyz
ADMINS=123456789,987654321
IP=127.0.0.1

# PostgreSQL ulanish manzili
DB_URL=postgresql+asyncpg://postgres:parol@localhost:5432/kodlikinodb

# Baza kanali ID si (Kinolar yuklanadigan kanal, bot admin bo'lishi kerak)
BASE_CHANNEL_ID=-1001234567890
